$font-baloo: 'Baloo Tamma 2', sans-serif;
$border-radius-xl: 1rem;

$utilities: (
  "font-family-addon": (
    property: font-family,
    class: font,
    values: (
      baloo: $font-baloo,
    ),
  ),
  "letter-spacing": (
    property: letter-spacing,
    class: spacing,
    values: (
      1: 0.7px,
      2: 2px,
      3: 3px,
      4: 4px,
      5: 5px
    ),
  ),
  "rounded-top-addon": (
    property: border-top-left-radius border-top-right-radius,
    class: rounded-top,
    values: (4: $border-radius-xl)
  ),
  "font-weight-addon": (
    property: font-weight,
    class: fw,
    values: (
      medium: 500,
      semibold: 600,
    )
  ),
  "start-addon": (
    property: left,
    class: start,
    values: (
      1: 1.25rem,
    )
  ),
);

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}