@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

// 需要先載入的
@import "~bootstrap/scss/functions";
@import 'helper/custom-variables';
@import 'helper/custom-utilities';

// 載入Bootstrap
@import '~bootstrap/scss/bootstrap';


// 自訂元件設定
// @import 'custom-components-setting';